﻿<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="origin">Registration No</label>
            <input type="text" class="form-control" id="registrationNo" placeholder="e.g. KA50AB####" data-ng-model="vehicle.registrationNo" required aria-describedby="registrationNoStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="registrationNoStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Vehicle Type</label>
            <input type="text" class="form-control" id="vehicleType" placeholder="e.g. 2 wheeler or 4 wheeler" data-ng-model="vehicle.vehicleType" aria-describedby="vehicleTypeStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="vehicleTypeStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="make">Make</label>
            <!--<div angucomplete id="make" placeholder="e.g. Maruti Suzuki"
                 pause="100" selectedobject="vehicle.make" localdata="MakeList" searchfields="name" titlefield="name" minlength="1"
                 inputclass="form-control" />-->
            <input auto-complete class="form-control" id="make" placeholder="e.g. Maruti Suzuki"
                   ng-change="getModel()" ui-items="makeList" ng-model="vehicle.make" aria-describedby="makeStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="makeStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Make</label>
            <input type="text" class="form-control" id="make" placeholder="e.g. Maruti Suzuki" data-ng-model="vehicle.make" aria-describedby="makeStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="makeStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Model</label>
            <input type="text" class="form-control" id="model" placeholder="e.g. Alto" data-ng-model="vehicle.model" aria-describedby="modelStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="modelStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Color</label>
            <input type="text" class="form-control" id="color" placeholder="e.g. Red" data-ng-model="vehicle.color" aria-describedby="colorStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="colorStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Capacity</label>
            <input type="text" class="form-control" id="capacity" data-ng-model="vehicle.capacity" placeholder="e.g. 2" aria-describedby="capacityStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="capacityStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickup1">Only Female Co-Passenger?</label>
            <input type="text" class="form-control" id="onlyFemale" placeholder="e.g. Yes" aria-describedby="onlyFemaleStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="onlyFemaleStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-5">
        <button class="btn btn-lg btn-info btn-block" type="submit" value="Save" data-ng-click="saveVehicle()">Save</button>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-5">
        <button class="btn btn-lg btn-info btn-block" type="submit" value="Cancel" data-ng-click="redirect('vehicleHome')">Cancel</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </div>
</div>