﻿<div class="row">
    <div class="col-md-12" ng-repeat="location in bookRide.locations | filter: { locationType: 1 }">                        
        <div class="form-group has-warning has-feedback">
            <label class="control-label" for="origin">Origin </label>
            <input type="text" class="form-control" placeholder="Enter your origin"
                   ng-autocomplete="location.name" longitude="location.longitude"
                   latitude="location.latitude" details="details1" options="options1" aria-describedby="originStatus" />
            <span class="glyphicon glyphicon-hand-left form-control-feedback" aria-hidden="true"></span>
            <span id="originStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-repeat="location in bookRide.locations | filter: { locationType: 2 }">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="origin">Destination </label>
            <input type="text" class="form-control" placeholder="Enter your destination"
                   ng-autocomplete="location.name" longitude="location.longitude"
                   latitude="location.latitude" details="details1" options="options1" aria-describedby="originStatus" />
            <span class="glyphicon glyphicon-thumbs-up form-control-feedback" aria-hidden="true"></span>
            <span id="originStatus" class="sr-only">(success)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="pickuptime">Start Time</label>
            <div class="dropdown">
                <a class="dropdown-toggle" id="datatime" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <span class="form-control">{{bookRide.startAt.date | date:'yyyy-MM-dd HH:mm'}}</span>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="bookRide.startAt.date" data-datetimepicker-config="{ dropdownSelector: '#datatime' }" />
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <button class="btn btn-lg btn-info btn-block" type="submit" value="Save" data-ng-click="saveBookRide()">Save</button>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-5">
        <a class="btn btn-lg btn-info btn-block" type="submit" href="#/viewbookride">Cancel</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </div>
</div>