﻿<div class="row" data-ng-hide="authentication.isAuth">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row" data-ng-hide="!authentication.isAuth">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>IF YOU RIDE</h2>
        <p class="text-primary">If you dont have vehicle then don't worry, just book a ride and we will find best matched vehicle nearby you.</p>
        <p><a class="btn btn-info" href="#/viewbookride" role="button">Book Ride &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IF YOU DRIVE</h2>
        <p class="text-primary">If you have vehicle and you want to earn money, just share a ride and we will find best matched passenger nearby you. </p>
        <p><a class="btn btn-info" href="#/viewshareride" role="button">Share Ride &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
