﻿
<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" ng-show="{{notifications != null}}">
                    <thead>
                        <tr class="info">
                            <th>Ride Id</th>
                            <th>Start At</th>
                            <th>Ride Details</th>
                            <th>Contact Info</th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="notification in notifications">
                        <tr class="success">
                            <td>{{notification.senderId | limitTo: 8}}</td>
                            <td>{{notification.startAt | amDateFormat:'DD-MMM-YY hh:mm A'}}</td>
                            <td>
                                <strong>From: </strong> {{ notification.fromName }} <br />
                                <strong>To: </strong> {{ notification.toName }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr data-ng-repeat="ride in notification.rideSuggestionEntity">
                            <td>
                                {{ ride.rideId | limitTo: 8}}
                            </td>
                            <td>
                                {{ ride.startAt | amDateFormat:'DD-MMM-YY hh:mm A'}}
                            </td>
                            <td>
                                <strong>From: </strong> {{ ride.fromName }} <br /><strong>To: </strong> {{ ride.toName }}
                            </td>
                            <td>
                                <div data-ng-show="ride.rideStatus === 4">
                                    <strong>Name: </strong>{{ ride.name }} <br />
                                    <strong>Mobile: </strong>{{ ride.phoneNumber }}
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-success btn-block" data-ng-show="ride.rideStatus === 3" type="submit"
                                        data-ng-click="action(Status.ACCEPTED.value, ride.rideId, notification.senderId, notification.rideType )">
                                    Accept
                                </button>
                                <button class="btn btn-xs btn-danger btn-block" data-ng-show="ride.rideStatus === 3" type="submit"
                                        data-ng-click="action(Status.DECLINED.value, ride.rideId, notification.senderId, notification.rideType)">
                                    Decline
                                </button>

                                <button class="btn btn-xs btn-success btn-block" disabled data-ng-show="ride.rideStatus === 4" type="submit">
                                    Accepted
                                </button>
                                <button class="btn btn-xs btn-danger btn-block" disabled data-ng-show="ride.rideStatus === 5" type="submit">
                                    Declined
                                </button>

                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
