﻿<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="User Name" data-ng-model="registration.userName" required autofocus>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required autofocus>
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required autofocus>
    <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
    <input type="text" class="form-control" placeholder="Mobile" data-ng-model="registration.phoneNumber" required>
    <label class="checkbox-inline">Gender </label>
    <label class="checkbox-inline"><input type="radio" name="Gender" value="1" checked> Male</label>
    <label class="checkbox-inline"><input type="radio" name="Gender" value="2"> Female</label>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>