﻿
<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-info btn-block" type="submit" href="#/bookride">Add another ride</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    Best matches for your current ride.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered ">
                    <thead>
                        <tr class="info">
                            <th>Ride Id</th>
                            <th>Start At</th>
                            <th>Ride Details</th>
                            <th>Contact Info</th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="bookRide in bookRideCollection">
                        <tr class="success">
                            <td>{{bookRide.senderId | limitTo: 8}}</td>
                            <td>{{bookRide.startAt | amDateFormat:'DD-MMM-YY hh:mm A'}}</td>
                            <td>
                                <strong>From: </strong> {{ bookRide.fromName }} <br />
                                <strong>To: </strong> {{ bookRide.toName }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr data-ng-repeat="ride in bookRide.rideSuggestionEntity">
                            <td>
                                {{ ride.rideId | limitTo: 8}}
                            </td>
                            <td>
                                {{ ride.startAt | amDateFormat:'DD-MMM-YY hh:mm A'}}
                            </td>
                            <td>
                                <strong>From: </strong> {{ ride.fromName }} <br /><strong>To: </strong> {{ ride.toName }}
                            </td>
                            <td>
                                <div data-ng-show="ride.rideStatus === 4">
                                    <strong>Name: </strong>{{ ride.name }} <br />
                                    <strong>Mobile: </strong>{{ ride.phoneNumber }}
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-info btn-block" ng-disabled="{{ride.rideStatus != 1}}"
                                        data-ng-show="ride.rideStatus === 1 || ride.rideStatus === 2" type="submit"
                                        data-ng-click="action(ride.rideStatus, ride.rideId, bookRide.senderId)">
                                    {{getStatus(ride.rideStatus);}}
                                </button>
                                <button class="btn btn-xs btn-success btn-block" data-ng-show="ride.rideStatus === 3" type="submit"
                                        data-ng-click="action(Status.ACCEPTED.value, ride.rideId, bookRide.senderId)">
                                    Accept
                                </button>
                                <button class="btn btn-xs btn-danger btn-block" data-ng-show="ride.rideStatus === 3" type="submit"
                                        data-ng-click="action(Status.DECLINED.value, ride.rideId, bookRide.senderId)">
                                    Decline
                                </button>
                                <button class="btn btn-xs btn-success btn-block" disabled data-ng-show="ride.rideStatus === 4" type="submit">
                                    Accepted
                                </button>
                                <button class="btn btn-xs btn-danger btn-block" disabled data-ng-show="ride.rideStatus === 5" type="submit">
                                    Declined
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
