﻿
<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-info btn-block" type="submit" value="Add" data-ng-click="redirect('add')">Add Vehicle</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Registration No</th>
                            <th>Make/Model/Color</th>
                            <th>Capacity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="vehicle in vehicles">
                            <td>
                                {{ vehicle.registrationNo }}
                            </td>
                            <td>
                                {{ vehicle.make }}
                            </td>
                            <td>
                                {{ vehicle.model }}
                            </td>
                            <td>
                                <a ng-href="#/addvehicle?id={{ vehicle.vehicleId }}" role="button" class="btn btn-info btn-xs">Update</a>
                                <a ng-href="#/addvehicle?id={{ vehicle.vehicleId }}" role="button" class="btn btn-info btn-xs">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
