﻿<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <meta name="keywords" content="angularjs,SPA,Single Page Application,refresh tokens,authentication,bearer token authentication,OWIN,bootstrap,bootstrap ui,tutorial,JS framework,ASP.NET WEB API 2,Taiseer Joudeh" />
    <meta name="description" content="SPA built using angularjs,authentication is done using bearer token,back end built using Asp.net web api 2 and OWIN Framework,creatd by Taiseer Joudeh" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Yari Savaari</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <link href="content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="content/css/datetimepicker.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/"><strong>Yari Savaari</strong><small class="primary"><em> let's <!--do it together,--> go2gether.</em></small></a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/viewbookride">Book Ride</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/viewshareride">Share Ride</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/viewvehicle">Vehicles</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/notifications">Notifications <span class="badge">{{notificationCount}}</span></a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/orders">My Orders</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/refresh">Refresh Token</a></li>-->
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
                <!--<button type="submit" ng-click="send(13);">CLick me</button>-->
            </div>
        </div>
    </div>
    <!--<div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>Yari Savaari</h1>
                <h2>Let's do it...</h2>
            </div>
        </div>
    </div>-->
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">More Info<a target="_blank" href="#"> @MoreInfo</a></p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">Email <a target="_blank" href="#">&nbsp;<!--anshul.1007@gmail.com--></a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->
    <script src="scripts/jquery-2.0.3.min.js"></script>
    <script src="scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/angular-moment.min.js"></script>
    <script src="http://localhost:802/signalr/hubs"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/signalRService.js?v=2"></script>
    <script src="app/services/notificationsService.js?v=2"></script>
    <script src="app/services/vehiclesService.js?v=2"></script>
    <script src="app/services/shareRideService.js?v=2"></script>
    <script src="app/services/bookRideService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>

    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/bookRideController.js?v=2"></script>
    <script src="app/controllers/shareRideController.js?v=2"></script>
    <script src="app/controllers/vehicleController.js?v=2"></script>
    <script src="app/controllers/notificationsController.js?v=2"></script>
    <!--<script src="app/controllers/ordersController.js?v=2"></script>-->
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
    <script src="app/directives/autoComplete.js?v=2"></script>
    <script src="app/directives/ngAutocomplete.js?v=2"></script>
    <script src="app/directives/datetimepicker.js?v=2"></script>
</body>
</html>